@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pb-6">

    <div class="container pt-6">
        <div class="row flex-center">
            <div class="col-lg-6 col-md-5 text-center order-md-1"><img class="img-fluid" src="assets/img/illustrations/1.png" alt="" /></div>
            <div class="col-md-7 col-lg-6 mt-5 text-center text-md-start">
                <h1 class="fw-medium"><b>VectoRank</b>: Bulut Tabanlı Yapay Zeka Platformu</h1>
                <p class="mt-3">
                    Müşteri kümelendirme, ürün önerileri, yapay zeka destekli içerik arama ve indeksleme, döküman ve satış analizi gibi son teknoloji AI araçlarını kullanarak işletmelerinizi daha akıllı ve verimli hale getiriyoruz.
                </p>
                <!--
                    Our cloud platform harnesses AI tools like customer clustering, 
                    product recommendations, AI search, and 
                    sales analysis to revolutionize business efficiency and decision-making
                -->
                <a class="btn btn-lg btn-danger hover-top btn-glow" href="#">Ücretsiz Dene </a>
                <p class="mb-4 mt-5">
                    <small>
                        Wordpress, OpenCart gibi popüler uygulamalar için geliştirdiğimiz <a href="~/extensions">eklentileri</a> veya <a href="https://rankapi.vectorank.com">Rank API</a>'yi kullanarak siteniz, uygulamalarınız veya dökümanlarınıza arama motorumuzu ekleyebilirsiniz.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->
<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="pt-4 pt-md-6 mt-6">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-7 text-lg-center"><img class="img-fluid mb-5 mb-md-0" src="assets/img/illustrations/2.png" alt="" /></div>
            <div class="col-md-7 col-lg-5 text-center text-md-start">
                <h2>VectoRank<br />Nedir?</h2>
                <p>İçeriğinizi anlamsal olarak indeksleyerek ziyaretçilerinizin veya çalışanlarınızın yaptığı aramalarda karşılarına doğru sonuçların çıkmasını sağlayan yapay zeka destekli bir yazılımdır.</p>
                <div class="d-flex">
                    <div class="check-icon-container">
                        <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                        </svg>
                    </div>
                    <p class="ms-2">Tüm uygulamalara kolayca entegre edilebilen kullanımı basit API.</p>
                </div>
                <div class="d-flex">
                    <div class="check-icon-container">
                        <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                        </svg>
                    </div>
                    <p class="ms-2">Yüksek performans ve doğruluk</p>
                </div>
                <div class="d-flex">
                    <div class="check-icon-container">
                        <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                        </svg>
                    </div>
                    <p class="ms-2">Bulut tabanlı mikroservis mimarisi ile kolay ve hızlı ölçeklenebilirlik</p>
                </div>
                <div class="d-flex">
                    <div class="check-icon-container">
                        <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                        </svg>
                    </div>
                    <p class="ms-2">Wordpress, Woocommerce, OpenCart gibi platformlara tek tıkla kurulum sağlayan eklentiler</p>
                </div>
                <div class="d-flex">
                    <div class="check-icon-container">
                        <svg class="bi bi-check-circle-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#2FAB73" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
                        </svg>
                    </div>
                    <p class="ms-2">Wordpress, Woocommerce, OpenCart gibi platformlara tek tıkla kurulum sağlayan eklentiler</p>
                </div>
            </div>
        </div>
    </div>

</section>



<section class="pt-5 pb-0 z-index-1">

    <div class="container">
        <div class="card py-5 px-5 border-0 shadow-vectorank ">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h2>
                            Sık Sorulan Sorular
                        </h2>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        VectoRank Kullanım Alanları Nelerdir?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p><strong>VectoRank</strong> sıklıkla:</p>
                                        <ol>
                                            <li><strong>E-Ticaret</strong> sitelerinde ziyaretçinin yaptığı aramaların tutarlı ve doğru olmasında, Birbirine benzer ürünlerin listelenmesinde,</li>
                                            <li><strong>Dökümanlar</strong> içerisinde sağlıklı arama yapma ve anlamsal olarak benzer yerleri tespit etmede,</li>
                                            <li>Yapay Zeka tabanlı Soru&Cevap(Chatbot) uygulamalarında, sorulan sorulara belirli bir konu dahilinde cevap verilmesi gereken durumlarda,</li>
                                            <li><strong>Blog</strong> sitelerindeki arama bölümlerinde, makalelerin kullanıcı araması sonucunda doğru listelenmesinde ve ilişkili makalelerin listelenmesinde</li>
                                        </ol>
                                        <p>kullanılmaktadır.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        VectoRank Nasıl Entegre Edilir?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            Wordpress veya OpenCart kullanıyorsanız eklentilerimizi kurarak entegrasyon sağlayabilirsiniz. <br />Özel uygulamalarınıza <a href="rankapi.vectorank.com">Rank API</a>'yi kullanarak kolayca entegre edebilirsiniz.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        VectoRank Ücretli Mi?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        VectoRank'ın ücretli ve ücretsiz planları bulunmaktadır. <a href="~/pricing">Ücretsiz planımızı</a>, ömür boyu sınırsız kullanabilir veya büyük veriler üzerinde işlem yapmak için <a href="~/pricing">ücretli planlar</a>ımızdan birini tercih edebilirsiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="z-index-1">

    <div class="container">
        <div class="card py-5 px-5 border-0 shadow-vectorank">
            <div class="card-body">
                <div class="row flex-center">
                    <div class="col-12 col-lg-6 text-lg-start">
                        <h2>Üye olarak VectoRank'ı hemen deneyin!</h2>
                        <p class="mb-lg-0">Tamamen ücretsiz olan <a href="~/pricing">üyelik planı</a>mızı tercih ederek VectoRank'ı kullanmaya başlayabilirsiniz.</p>
                    </div>
                    <div class="col-12 col-lg-6 text-lg-end"><a class="btn btn-lg btn-danger hover-top btn-glow text-end" href="https://panel.vectorank.com">Üye Ol</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->